:host {
  cursor: pointer;
}

.card-container {
  padding: 10px 10px 30px 10px;
  position: relative;
}

.card-content {
  padding: 30px 20px;
  background: #fff;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: -10px;
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  z-index: 10;
  border: 1px solid #777;
  transform: translateX(-50%);
}

.mat-icon {
  color: darkblue;
}

.time {
  text-align: center;
  font-size: 13px;
  color: #777
}

.destination, .origin {
  font-size: 26px;
  font-weight: 600;
  color: deeppink;
}
